.entidy .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
    position: relative;
    display: flex;
    align-items: stretch;
    border-radius: 6px;
    padding: 0 0 0 16px; 
}